{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "standard",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "react",
    "@typescript-eslint",
    "react-hooks",
    "eslint-plugin-import-helpers"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/exhaustive-deps": "warn",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }]
  }
}
